[Unit]
Description=Synergy Server Daemon
After=network.target

[Service]
ExecStart=/usr/bin/barriers.safe --no-daemon --config /etc/barrier.conf
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
