[submodule "forge/portage"]
	path = forge/portage
	url = https://github.com/MrStaticVoid/puppet-portage.git
[submodule "forge/concat"]
	path = forge/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "forge/sudo"]
	path = forge/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "forge/stdlib"]
	path = forge/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "forge/sysctl"]
	path = forge/sysctl
	url = https://github.com/thias/puppet-sysctl.git
