[submodule "forge/portage"]
	path = forge/portage
	url = https://github.com/MrStaticVoid/puppet-portage.git
[submodule "forge/concat"]
	path = forge/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "forge/sudo"]
	path = forge/sudo
	url = https://github.com/saz/puppet-sudo.git
