[Unit]
Description=Kubernetes node agent
Requires=crio.service
After=crio.service

[Service]
EnvironmentFile=-/etc/kubernetes/kubelet.env
EnvironmentFile=-/var/lib/kubelet/kubeadm-flags.env
ExecStart=/usr/bin/kubelet \
    --container-runtime=remote \
    --container-runtime-endpoint=unix:///var/run/crio/crio.sock \
    $KUBELET_ARGS \
    $KUBELET_KUBEADM_ARGS

[Install]
WantedBy=multi-user.target
