[Match]
Host=eagle*
Name=en*

[Network]
DHCP=yes
DNS=172.22.4.2
Domains=eyrie nest james.tl

[Route]
Destination=172.22.0.0/24
Gateway=172.22.4.2

[DHCP]
RouteMetric=10
