[Match]
Name=bond* br* en* eth* usb*

[Network]
DHCP=yes
DNS=172.22.0.1
Domains=nest
DNSDefaultRoute=yes

[DHCP]
RouteMetric=10

[DHCPv4]
UseDomains=yes
