[Unit]
Description=BIRD Internet Routing Daemon
After=network-online.target
StartLimitBurst=10

[Service]
Type=forking
ExecStartPre=/bin/ip rule add table bird
ExecStart=/usr/sbin/bird -u bird -g bird
ExecStopPost=/bin/ip rule delete table bird
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
