[Unit]
Description=ydotool input automation service
Requires=ydotoold.socket
After=ydotoold.socket

[Service]
ExecStart=/usr/bin/ydotoold

[Install]
WantedBy=multi-user.target
